 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a experienced developer with more than 10 years in the IT industry. <br/> <br/>
                      During this time I have worked with software development and architecture especially within .NET. I have a broad expertise in both “front end” and “back end” development.
                      I like working in teams but I also used to work alone, preferably close to the customer in an Agile way.  <br/> <br/>
                      It is not just during work hours that I spend time with software, I always some kind of project running at home as well.</p>
                </div>               <div class="col-lg-4">
                    <p>
                      Specialities:<br/>
                      .NET<br/>
                      Web Development<br/>
                      Node.js<br/>
                      HTML, JavaScript, usability, CSS, C#<br/>
                      Windows Communication Foundation<br/>
                      Windows Universal<br/>
                      React-Native (work in progress)
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!--<a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>-->
                </div>
            </div>
        </div>
    </section>
