 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Sebastian is a experienced developer with more than 10 years in the IT industry. During this time he has worked with software development and architecture especially within .NET. Sebastian has a broad expertise in both “front end” and “back end” development. He likes working alone as well as in teams, preferably close to the customer in an Agile way. Through his positive attitude, he contributes to a good working environment for colleagues and customers.
It is not just during work hours that Sebastian spends time with software, he has always some kind of project running at home as well.</p>
                </div>
                <div class="col-lg-4">
                    <p>
Frameworks
jQuery, Node.js, Entity Framework, ASP.NET, ASP.NET MVC, WinForms, WPF, MVC.NET, Open Layers, PRISM, Web Client Software Factory, ADO.NET Entity Framework, SQLServer, OData/WCF Data Services, MVVM Light, npm, Windows Universal Apps, EPI, Microsoft Commerce Server, Apptus eSales
Technologies
XML, HTML, CSS, WCF, XSLT, MSMQ, AJAX, MVVM, Google Maps, NodeJs, OWIN (Katana), MVP, RIA-services, Open Street Maps, Caliburn Micro, REST
Languages
C#, JavaScript, CSS, XAML, Linq, VB.NET, MS SQL-Spatial
Databases
SQL, Neo4j, SQL Server, Microsoft SQL Server, Microsoft Graph Engine (Trinity)
Working methods
SCRUM
Version Control
Git, Subversion, Mercurial, Team Foundation Server (TFS)
Operating Systems
Windows, Windows Phone 7, Windows Phone 8, Windows Phone, Linux
Test
MSTest, Bugzilla, NUnit
Build Tools
FinalBuilder, MSBuild, TFS
Tools
Adobe Photoshop, Adobe Illustrator, Visual Studio Blend, Visual Studio, Microsoft Visual Studio
</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!--<a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>-->
                </div>
            </div>
        </div>
    </section>
